.annie-filters {
  display: flex;
  align-items: center;
  margin: 32px 67px;

  .filters-label {
    @apply font-CarmenSemiBold;
    @apply text-12;
    margin-right: 2vw;
  }

  .filters-input {
    margin-right: 20px;
    max-width: calc(200px + 9vw);
  }
}
