.annie-header {
  @apply w-full;
  @apply bg-gray-200;
  @apply border-b-2 border-gray-700;
  border-bottom: 2px solid #dadee5;
  position: relative;
  width: 100%;
  height: calc(60px + 7vw);
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .annie-header-top-menu {
    display: flex;
    justify-content: space-between;
    padding: calc(12px + 1vw) calc(40px + 1vw) 0px;
    height: calc(32px + 2.5vw);

    .logo-section{
      width: 25%;
      height: 100%;
    }

    .search-section {
      width: 50%;
      height: 100%;
    }

    .annie-header-right-menu{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 25%;
      height: 100%;
    }

    .notification-section {
      margin-right: 24px;
    }

    .profile-section {
    }
  }

  .navbar-section {
    @apply flex;
    margin-bottom: -2px;
    padding: 0px calc(40px + 1vw);
    height: calc(20px + 2vw);
  }
}