.annie-hospice-flat-list {
  padding-top: 50px;
  @apply flex;
  @apply justify-center;

  .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    box-shadow: none;
    width: 100%;
    overflow-x: auto;
    border-radius: 16px;

    .css-1ex1afd-MuiTableCell-root {
      border: none;
    }

    .css-177gid-MuiTableCell-root {
      border: none;
    }

    .annie-flat-list-item {
      max-width: 1879px;
      @apply w-full;
      height: 88px;
    }
  
    .gray-list-item {
      @apply bg-gray-200;
    }
    
    .white-list-item {
      @apply bg-white;
    }
  }
}