.annie-login-form {
  @apply w-full;
  height: 100vh;
  display: flex;
  background-color: red;
  align-items: center;
  justify-content: center;

  input {
    margin-bottom: 20px;
    width: 350px;
    height: 45px;
    border-radius: 15px;
    padding-left: 15px;
    border: none;
  }

  button {
    padding: 10px;
    width: 200px;
    background-color: blue;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
  }
}
