.annie-navbar {
  @apply w-full;
  height: 100% !important;

  .annie-navbar-tabs {
    height: 100%;

    .css-1ocpf3a-MuiButtonBase-root-MuiTab-root{
      min-height: none !important;
      padding: 0;
    }

    .css-jpln7h-MuiTabs-scroller{
    }
    .css-1wf8b0h-MuiTabs-flexContainer{
      height: 100% !important;

      button{
        min-height: none !important;
        height: 100% !important;
      }
    }

    .css-1ujnqem-MuiTabs-root{
      min-height: none;
    }
    .MuiButtonBase-root {
      min-height: none !important;
      height: 30px !important;
      flex: 1;
      max-width: none;
      padding-bottom: calc(25px + 0.5vw);
    }

    .MuiTouchRipple-root {
      display: none;
    }

    .Mui-selected {
      @apply text-malibu #{!important};
    }

    .MuiTab-iconWrapper {
      @apply text-12;
      @apply bg-malibu;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      margin-left: 12px;
      opacity: 1 !important;
    }

    .MuiTab-textColorPrimary {
      @apply text-12;
      @apply font-CarmenSemiBold;
      color: rgba(0, 40, 60, 0.5);
      text-transform: capitalize;
      min-height: none !important;
    }

    .MuiTabs-indicator {
      @apply bg-malibu;
      height: 4px;
      background-color: #6699ff;
    }
  }
}