.annie-refer-checkbox {
  max-width: 186px;
  @apply w-full;
  height: 56px;
  @apply bg-green-light;
  border-radius: 12px;
  border: 1px solid #46c1b5;
  @apply font-CarmenMedium;
  padding: 15px;
  
  p {
    @apply text-md;
    color: #00283C;
  }

  .annie-checkmark-box {}
}   
