.annie-refer-checkbox-checked {
  transition: all 0.3s;
  width: max(146px, calc(80px + 5vw));
  height: max(48px, calc(35px + 1.2vw));
  border-radius: 12px !important;
  border: 1px solid #46c1b5 !important;
  padding: 6px;
  @apply bg-green-light #{!important};
  @apply relative;

  .annie-checkmark-text {
    @apply absolute;
    left: 16px;
    @apply font-CarmenMedium;
    @apply text-juniper;
    @apply text-12 #{!important};
    text-transform: capitalize;
  }

  .annie-checkmark-box {
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply bg-green-dark;
    @apply absolute;
    right: 0.5vw;
    width: calc(20px + 1.1vw);
    height: calc(20px + 1.1vw);
    border-radius: 8px;
    margin-right: 0px;

    img {
      width: max(16px, calc(10px + 0.5vw));
      transition: all 0.3s;
      @apply opacity-100;
    }
  }
}

.annie-refer-checkbox-unchecked {
  transition: all 0.3s;
  width: max(146px, calc(80px + 5vw));
  height: max(48px, calc(35px + 1.2vw));
  border-radius: 12px !important;
  border: 1px solid transparent !important;
  padding: 15px;
  @apply bg-mystic #{!important};
  @apply relative;

  .annie-checkmark-text {
    @apply absolute;
    @apply text-12 #{!important};
    left: 16px;
    @apply font-CarmenMedium;
    color: #00283c;
    font-size: 16px;
    text-transform: capitalize;
  }

  .annie-checkmark-box {
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply bg-white;
    @apply absolute;
    right: 0.5vw;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    margin-right: 0px;

    img {
      transition: all 0.3s;
      @apply opacity-0;
    }
  }
}
