.search-input {
  @apply border-athens-gray;
  @apply border-1;
  @apply border-solid;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  background-color: #e9edf5 !important;
  height: 100%;
  border-radius: 12px !important;

  .search-input-base {
    @apply text-12;
    flex: 1;
    padding-left: 32px;
  }

  .search-button {
    margin-right: 24px;
  }
}
