@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  margin: auto auto;
  aspect-ratio: 16 / 9;
  max-width: 2000px;
  width: 100%;
  max-height: 1200px;
  height: max-content;
}

// This is reset style which is obligated to reset all default behaviors of all elements who will be used in future development.
@import "./reset.scss";

/* Field styles */
@import "./components/index.scss";

/* Screen style */
@import "./screens/index.scss";
