@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Carmen-Semi-Bold";
  src: url("../assets/fonts/Carmen_Sans_SemiBold.otf");
}

@font-face {
  font-family: "Carmen-Bold";
  src: url("../assets/fonts/Carmen_Sans_Bold.otf");
}

@font-face {
  font-family: "Carmen-Extra-Bold";
  src: url("../assets/fonts/Carmen_Sans_ExtraBold.otf");
}

@font-face {
  font-family: "Carmen-Heavy";
  src: url("../assets/fonts/Carmen_Sans_Heavy.otf");
}

@font-face {
  font-family: "Carmen-Light";
  src: url("../assets/fonts/Carmen_Sans_Light.otf");
}

@font-face {
  font-family: "Carmen-Medium";
  src: url("../assets/fonts/Carmen_Sans_Medium.otf");
}

@font-face {
  font-family: "Carmen-Regular";
  src: url("../assets/fonts/Carmen_Sans_Regular.otf");
}

@font-face {
  font-family: "Carmen-Thin";
  src: url("../assets/fonts/Carmen_Sans_Thin.otf");
}

@font-face {
  font-family: "Carmen-Ultra-Light";
  src: url("../assets/fonts/Carmen_Sans_UltraLight.otf");
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto auto !important;
}

// This is reset style which is obligated to reset all default behaviors of all elements who will be used in future development.
@import "./reset.scss";

/* Field styles */
@import "./components/index.scss";

/* Screen style */
@import "./screens/index.scss";

/* Errors */
@import "./errors.scss";
