.annie-refet-to-patient-footer {
    @apply font-CarmenRegular;
    @apply bg-daintree;
    width: calc(100% - 120px);
    max-width: 1879px;
    height: 156px;
    margin: 100px 60px 0px 60px;
    border-radius: 16px;
    position: relative;
    padding: 0px 32px 0px 334px;

    &>img {
        width: 284px;
        height: 239px;
        position: absolute;
        top: -64px;
        left: 18px;
    }

    &>div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        &>div:nth-child(1) {
            height: 100%;
            max-width: 772px;

            &>div:nth-child(1) {
                color: white;
                font-size: 20px;
                line-height: 24px;
                margin-top: 32px;
                margin-bottom: 12px;
            }

            &>div:nth-child(2) {
                font-size: 12px;
                color: white;
                opacity: .5;
                line-height: 16px;
            }
        }

        &>div:nth-child(2) {
            width: 100%;
            max-width: 297px;
            height: 56px;

            .send-referral-button {
                background: #82A5F9;
                border-radius: 12px;
                height: 56px;
                width: 100%;

                &>div {
                    height: 100%;
                    display: flex;
                    padding: 8px 8px 8px 20px;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 16px;
                    color: white;

                    .send-referral-button-icon {
                        width: 40px;
                        height: 40px;
                        background: rgba(255, 255, 255, 0.25);
                        border-radius: 12px;
                        padding: 8px;
                    }
                }
            }
        }
    }


}