.annie-refet-to-patient-footer {
    @apply font-CarmenRegular;
    @apply bg-daintree;
    width: calc(100% - 120px);
    height: calc(100px + 4vw);
    margin: 100px 60px 0px 60px;
    border-radius: 16px;
    position: relative;
    padding: 0px 32px 0px calc(200px + 10vw);
    ;

    &>img {
        width: calc(150px + 10vw);
        position: absolute;
        top: calc(-40px - 2.2vw);
        left: 18px;
    }

    &>div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        &>div:nth-child(1) {
            height: 100%;
            max-width: 50%;

            &>div:nth-child(1) {
                @apply text-20;
                color: white;
                margin-top: 32px;
                margin-bottom: 12px;
            }

            &>div:nth-child(2) {
                @apply text-12;
                color: white;
                opacity: .5;
            }
        }

        &>div:nth-child(2) {
            width: max(236px, calc(200px + 6vw));
            height: max(56px, calc(40px + 1.2vw));

            .send-referral-button {
                background: #82A5F9;
                border-radius: 12px;
                height: max(56px, calc(40px + 1.2vw));
                width: 100%;

                &>div {
                    @apply text-16;
                    height: 100%;
                    display: flex;
                    padding: .5vw .5vw .5vw 1.2vw;
                    justify-content: space-between;
                    align-items: center;
                    color: white;

                    .send-referral-button-icon {
                        width: calc(20px + 1.1vw);
                        height: calc(20px + 1.1vw);
                        background: rgba(255, 255, 255, 0.25);
                        border-radius: 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &>img{
                            width: max(16px, calc(10px + 0.5vw));
                        }
                    }
                }
            }
        }
    }


}