.annie-password-strength {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  padding: 16px;
  width: 100%;
  min-height: 50px;
  border: 1px solid rgba(12, 39, 58, 0.1);
  border-radius: 12px;
  flex-wrap: wrap;

  p {
    display: flex;
    align-items: center;
    flex-basis: 50%;

    img {
      width: 16px;
      height: 16px;
      margin-right: 12px;
    }
  }
}