.annie-file-uploadeer-error-message-root{
    width: 100%;
    height: 40px;
    background-color: #F9ECEC;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    p{
        font-size: 10px;
        line-height: 12px;
        color: #C34343;
        opacity: .5;
        margin-left: 12px;
    }
    
}