.annie-file-uploadeer-error-message-root{
    width: 100%;
    height: calc(20px + 1.5vw);
    background-color: #F9ECEC;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    p{
        font-size: 10px;
        line-height: 12px;
        color: #C34343;
        opacity: .5;
        margin-left: 12px;
    }
    
    &>img{
        width: max(16px, calc(10px + 0.8vw));
        height: max(16px, calc(10px + 0.8vw));
    }
}