.annie-dropzone {
  margin: 0px;
  width: 100%;
  height: calc(40px + 3vw);
  border-color: #6699ff !important;
  background: #f7f9fd;
  border: 1px dashed #e1e5eb;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: max(24px, calc(15px + 0.7vw));
  @apply font-CarmenSemiBold;
  color: #00283c;
  margin: 0.8vw 0px;

  .annie-dropzone-text {
    flex: 1;

    &>div {
      margin-bottom: 4px;
      @apply text-12;
      display: flex;

      &>p {
        opacity: 0.5;
      }

      &>span {
        opacity: 1;
        color: #6699ff;
      }
    }

    &>p {
      opacity: 0.5;
      @apply text-10;
    }
  }

  .annie-dropzone-icon {
    width: calc(25px + 1.1vw);
    height: calc(25px + 1.1vw);
    background: rgba(102, 153, 255, 0.25);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;

    &>img {
      width: max(24px, calc(15px + 0.7vw));
      height: max(24px, calc(15px + 0.7vw));
    }
  }
}

.active-dropzone {
  border-color: #6699ff !important;
  background: #f7f9fd;
}