.annie-input-modal-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: calc(20px + 1.5vw);
    flex: none;
    order: 0;
    position: relative;
    background-color: #F7FAFF;
    border-radius: 8px;
    margin: 6px 0px;

    &>div:nth-child(1){
        padding: 12px;
    }

    img {
        width: max(16px, calc(10px + 0.7vw));
        height: max(16px, calc(10px + 0.7vw));
        position: relative;
    }

    .input-modal-email {
        flex: 1;
        border: none;
        outline: none;
        @apply text-12;
        background-color: #F7FAFF;

        &::placeholder {
            @apply font-CarmenMedium;
            @apply text-12;
            color: #c2c9ce;
        }
    }
}