.annie-set-new-password-view {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65px;

  .new-password-wrapper {
    width: 100%;
    height: inherit;
    border-radius: 24px;
    display: flex;

    .new-password-description {
      width: 35%;
      height: inherit;
      background-color: #0C273A;
      border-radius: 24px;
      padding: 40px;
      position: relative;

      h1 {
        font-size: 32px;
        line-height: 40px;
        color: #fff;
        @apply font-CarmenMedium;
        margin-top: 80px;

        span {
          color: #82A5F9;
        }
      }

      p {
        max-width: 328px;
        width: 100%;
        @apply font-CarmenRegular;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
        margin-top: 30px;
      }
    }

    .new-password-form {
      width: 65%;
      height: inherit;
      padding: 100px;
      position: relative;

      .annie-redirect-button {
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .forgot-icon {
        margin-bottom: 40px;
      }

      h1 {
        font-size: 32px;
        line-height: 40px;
        color: #0C273A;
        @apply font-CarmenMedium;
        margin-bottom: 12px;
      }

      p {
        font-size: 12px;
        line-height: 16px;
        color: #0C273A;
        @apply font-CarmenMedium;
        opacity: 0.25;
        margin-bottom: 55px;
      }

      .annie-input-password {
        padding: 0px;
        margin-bottom: 15px;

        img {
          left: 15px;
        }
      }

      .annie-password-strength {
        margin-bottom: 15px;

        p {
          margin-bottom: 8px;
          color: #0C273A;
          opacity: 0.5;
          font-size: 10px;

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
      
      .annie-error-message {
        margin-bottom: 15px;
      }

      .annie-cta-button {
        float: right;
      }
    }
  }
}
