.annie-upload-file-info {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 8px;

  .annie-upload-file-info-icon {
    padding: 8px;
    background-color: rgba(0, 40, 60, 0.1);
    border-radius: 12px;
  }

  .annie-upload-file-info-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 8px;

    .file-name {
      @apply font-CarmenSemiBold;
      font-size: 12px;
      line-height: 17px;
      color: #00283c;
      margin-bottom: 2px;
    }

    .file-info {
      @apply font-CarmenSemiBold;
      font-size: 10px;
      line-height: 14px;
      opacity: 0.5;
      color: #00283c;
    }
  }
}
