.annie-upload-file-info {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0.5vw;
  max-width: 100%;

  .annie-upload-file-info-icon {
    width: calc(25px + 1.1vw);
    height: calc(25px + 1.1vw);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 40, 60, 0.1);
    border-radius: 12px;

    &>img{
      width: max(24px, calc(15px + 0.7vw));
      height: max(24px, calc(15px + 0.7vw));
    }
  }

  .annie-upload-file-info-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1vw;
    margin-right: .5vw;

    &>div:nth-child(1) {
      max-width: 100%;
    }

    .file-name {
      @apply font-CarmenSemiBold;
      @apply text-12;
      color: #00283c;
      margin-bottom: 0.1vw;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 11vw;
      max-width: 200px;
    }

    .file-info {
      @apply font-CarmenSemiBold;
      @apply text-10;
      opacity: 0.5;
      color: #00283c;
    }

    img{
      width: max(24px, calc(15px + 0.7vw));
      height: max(24px, calc(15px + 0.7vw));
    }
  }
}