.uploaded-file-card-with-progress {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #e1e5eb;
  border-radius: 12px;
  margin-bottom: 8px;

  .uploaded-file-card-progress-container {
    display: flex;
    margin: 0px 17px 12px 64px;
    align-items: center;

    .uploaded-file-card-progress {
      flex: 1;
      height: 6px;
      background-color: #e5e9eb;
      border-radius: 3px;

      .MuiLinearProgress-barColorPrimary {
        background-color: #46c1b5 !important;
        border-radius: 3px;
      }
    }

    .uploaded-file-card-progress-value {
      @apply font-CarmenSemiBold;
      font-size: 10px;
      line-height: 14px;
      opacity: 0.5;
      color: #00283c;
      width: 35px;
    }
  }
}
