.radio-button-wrapper {
  margin-left: max(24px, calc(15px + 0.7vw));
  span {

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }

    [type="radio"]:checked+label,
    [type="radio"]:not(:checked)+label {
      position: relative;
      padding-left: 40px;
      padding-top: 2px;
      cursor: pointer;
      @apply text-12;
      display: inline-block;
      color: #0C273A;
      @apply font-CarmenMedium;
    }

    [type="radio"]:checked+label:before,
    [type="radio"]:not(:checked)+label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: max(24px, calc(15px + 0.7vw));
      height: max(24px, calc(15px + 0.7vw));
      border: 1px solid #ddd;
      border-radius: 100%;
      background: #fff;
    }

    [type="radio"]:checked+label:after,
    [type="radio"]:not(:checked)+label:after {
      content: "";
      width: max(18px, calc(10px + 0.5vw));
      height: max(18px, calc(10px + 0.5vw));
      background: #6ABEB5;
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 100%;
      transition: all 0.2s ease;
    }

    [type="radio"]:not(:checked)+label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    [type="radio"]:checked+label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}